.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 20px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  width: 34px;
  height: 34px;
  border-radius: 10px;
}

.navbar-title {
  font-family: "Audrey", serif;
  font-size: 22px;
  font-weight: 500;
}

.profile-circle {
  width: 38px;
  height: 38px;
  border-radius: 999px;
  background: #fde68a;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .navbar-title {
    font-size: 18px;
  }
}
